%div.row
	%div.col-md-6.center-block.no-float
		%h1 FacilitoCo
		%p Conecta y conoce a otros alumnos de la comunidad Facilito
		%p Aqui va el login
		%div.form-group
			=link_to "Crear cuenta", new_user_registration_path